<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 
	<title>Final Exam</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 	<link type="text/css" rel="stylesheet" href="css/main.css"/>




</head>
<body>

	<header>
		<a href="#" class="login">Log in</a>
		<a href="#" class="login">Sign up</a>
		<h2>URLAUBSGLÜCK</h2>
		<h1>SHARE YOUR HOLIDAY DREAMS</h1>
		<p>And find the perfect partner to fullfill it</p>
		<a href="#">Find your holiday partner</a>
	</header>
	
	<div class="work container">
		<h1>How Urlaubsglück works?</h1>
		<div id="slider">
				<div class="slide">
					<div class="work__steps">
						<div class="steps__wrapper">
							<div class="work__step">STEP 1</div>
							<h1>Sed leo enim, condimentum</h1>
							<p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="work__steps">
						<div class="steps__wrapper">
							<div class="work__step">STEP 2</div>
							<h1>Morbi velit risus</h1>
							<p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="work__steps">
						<div class="steps__wrapper">
							<div class="work__step">STEP 3</div>
							<h1>Sed leo enim, condimentum</h1>
							<p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>
				</div>
			</div>

			<div id="slider2">
				<div class="slide2">
					<div class="work__steps">
						<div class="steps__wrapper">
							<div class="work__step">STEP 2</div>
							<h1>Morbi velit risus</h1>
							<p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
						</div>
					</div>
				</div>
				<div class="slide2">
					<div class="work__steps">
						<div class="steps__wrapper">
							<div class="work__step">STEP 3</div>
							<h1>Sed leo enim, condimentum</h1>
							<p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>
				</div>
				<div class="slide2">
					<div class="work__steps">
						<div class="steps__wrapper">
							<div class="work__step">STEP 1</div>
							<h1>Sed leo enim, condimentum</h1>
							<p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>
				</div>
			</div>
			<div id="slider3">
				<div class="slide3">
					<div class="work__steps">
						<div class="steps__wrapper">
							<div class="work__step">STEP 3</div>
							<h1>Sed leo enim, condimentum</h1>
							<p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>
				</div>
				<div class="slide3">
					<div class="work__steps">
						<div class="steps__wrapper">
							<div class="work__step">STEP 1</div>
							<h1>Sed leo enim, condimentum</h1>
							<p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>
				</div>
				<div class="slide3">
					<div class="work__steps">
						<div class="steps__wrapper">
							<div class="work__step">STEP 2</div>
							<h1>Morbi velit risus</h1>
							<p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
						</div>
					</div>
				</div>
			</div>
	</div>
	
	<div class="partners">
		<h1>Meet a partner for your best holiday</h1>
		<div class="partners__partner">
			<img src="img/mobile/partner1.jpg">
			<img src="img/mobile/tv.png">
			<h4>Bradley Hunter</h4>
			<p>Based in Chicago. I love playing tennis and loud music.</p>
		</div>
		<div class="partners__partner">
			<img src="img/mobile/partner2.jpg">
			<img src="img/mobile/bottle.png">
			<h4>Lucas Marsha</h4>
			<p>I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
		</div>
		<div class="partners__partner">
			<img src="img/mobile/partner3.jpg">
			<img src="img/mobile/cup.png">
			<h4>Heather Walker</h4>
			<p>I'm a happy person that loves cats and climbing on mountains. </p>
		</div>
		<div class="partners__partner">
			<img src="img/mobile/partner4.jpg">
			<img src="img/mobile/plane.png">
			<h4>Bradley Hunter</h4>
			<p>Based in Chicago. I love playing tennis and loud music.</p>
		</div>
		<div class="partners__btn">
			<a href="#">See other partners</a>
		</div>
	</div>
	<h1 class="partners__h1">Discover holiday activity ideas</h1>
	<div class="grid">
		 
	</div>	
	<p class="search__text">Discover holiday activity ideas</p>
	<p class="search__text2">Hi! What are your holiday interests?</p>
	<div class="search">
		<input type="text" id="txt" value="Enter your interests" onfocus="if (this.value == 'Enter your interests') {this.value = ''; this.style.color = '#ccc';}" />
		<input type="button" id="btn" value="Search partners">

	</div>
	<div class="search__underline"></div>
	<div class="logos">
		<h1>URLAUBSGLÜCK</h1>
		<h2>Company</h2>
		<p>About</p>
		<p>Contacts</p>
		<p>Press</p>
		<p>Blog</p>
		<h2>Partners</h2>
		<h3>DESIGNED BY</h3>
		<img src="img/mobile/logo.png">

	</div>























































<script type="text/html" id="search__pictures" >

			<% for (var i=0; i<data.length; i++) { %>
				<div class="grid-item">
					<div style="background-image:url(<%= data[i].pic %>)">
					<p> <%= data[i].tag%></p>
					</div>			
				</div>	

			<% }; %>
			



	</script>











<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/isotope.pkgd.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript" src="js/slider2.js"></script>
<script type="text/javascript" src="js/slider3.js"></script>
<script type="text/javascript" src="js/tmpl.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>