@import 'variables';


html {
	font-size:3.125vw;
}
.container {
	padding-left:1rem;
	padding-right:1rem;
}
header {
	text-align:center;
	padding-top: 2.8rem;
	background-image:url(../img/mobile/header-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 53.9rem;
    background-position: 50.6% -0.5rem;
    

		a{
			font-family:$h-font;
			font-size:1.4rem;
			color:$h-color;
			margin: 0.8rem;
			padding: 0.7rem 1.7rem;
			    margin-top: 0.1rem;
			    border: 0.2rem solid;
			     @include border-radius(2rem);
			         border-color: rgba(70, 130, 180, 0);
		}	
		a.active{
			    font-family: $h-font;
			    font-size: 1.4rem;
			    
			    border: 0.2rem solid;
			     @include border-radius(2rem);
		}
		a.login:hover{
				font-family: $h-font;
			    font-size: 1.4rem;
			    color: #fff;
			    border: 0.2rem solid;
			     @include border-radius(2rem);
			     opacity:0.9;
		}


		>a{
		    background-color: $btn-color;
		    padding: 0.9rem 5rem;
		     @include border-radius(2.5rem);
		}
		h2{
			    font-family: $h-font;
			    font-size: 2rem;
			    color: #fff;
			    margin-top: 12.5rem;
			    letter-spacing: 0.1rem;
		}
		h1{
			    font-family: $h-font;
			    font-size: 3rem;
			    color: #fff;
			    margin-top: 2.6rem;

		}
		p{
			    font-family: RobotoLight;
			    font-size: 1.8rem;
			    color: #fff;
			    margin-top: 0.9rem;
			    padding-left: 5.1rem;
			    padding-right: 5.1rem;
			    margin-bottom: 2.9rem;
			    line-height: 2rem;
		}
}
.work{
	
		    margin-bottom: 3.4rem;
		>h1 {
				font-size: 2.2rem;
			    font-family:$h-font;
			    color: $dark-color;
			    text-align: center;
			    margin-top: 3.3rem;
    			padding-bottom: 1.5rem;
		}
	#slider{
			margin-bottom:1rem;
	}
	#slider2{
			margin-bottom:1rem;

	}

}

.partners__h1{
	color:$dark-color;
	font-size:2.2rem;
	font-family:$h-font;
    text-align: center;
    margin-bottom:1.4rem;
}
.partners{
	text-align:center;
    padding-bottom: 4.2rem;	
			h1{
					color:$dark-color;
					font-size:2.2rem;
					font-family:$h-font;
				    margin-bottom: 1.2rem;
					margin-left: 2rem;
				    margin-right: 2.5rem;

			}
			.partners__partner{
					h4{
						color:$dark-color;
						font-size:1.4rem;
						font-family:$h-font;
						margin-bottom: 1rem;
					    margin-top: 1.5rem;	

					}
					p{

						color:$text-color;
						font-size:1.4rem;
						font-family:$p-font;
						margin-bottom: 2rem;
						margin-left: 6.2rem;
    					margin-right: 6.2rem;
					
					}
					img:nth-child(1){
						 @include border-radius(25rem);
					
						     width: 12.2rem;
   							 height: 12.2rem;
						
					}
					img:nth-child(2){
					    margin-left: -4rem;
					    background-color:$btn-color;
					   @include border-radius(6rem);
					    border: 0.4rem solid #fff;
					    margin-bottom: -0.4rem;
					    width:4rem;
					    height:4rem;


					}
			}
					.partners__partner:nth-child(2){

						 p{
							    margin-bottom: 2.4rem;
						}
						h4{
								margin-bottom:1.1rem;
						}
					}
					.partners__partner:nth-child(3){

						 p{
							       margin-bottom: 1.8rem;
						}
						h4{
								margin-bottom:1rem;
						}
					}
					.partners__partner:nth-child(4){

						 p{
							        margin-bottom: 0.5rem;
						}
						h4{
								    margin-bottom: 1.1rem;
						}
					}
					.partners__partner:nth-child(5){

						 p{
							    margin-bottom: 0;
						}
						h4{
								    margin-bottom: 1rem;
						}
					}
						


															.partners__partner:nth-child(3) img:nth-child(2){
															background-color:#ffa507;
															}
															.partners__partner:nth-child(4) img:nth-child(2){
															background-color:#1cd7ad;
															}
															.partners__partner:nth-child(5) img:nth-child(2){
															background-color:#4e73db;

															}
															.partners__partner:nth-child(5) {
															 margin-bottom: 3.7rem;

															}
															   
															.partners__btn{
																		a {
																				color:$btn-color;
																				padding:0.9rem 7.3rem;
																				font-size:1.4rem;
																				font-family:$h-font;
																				border: 0.2rem solid;
												    							 @include border-radius(7rem);
																		}
															}
}





#slider, #slider2, #slider3{
	
margin-bottom: 3.4rem;
		.work__step{

			    color: #fff;
			    font-family:$span-font;
			    background-color: $btn-color;
			    padding: 0.4rem 1.1rem 0.3rem 1.6rem;
			     @include border-radius(1rem);
			    letter-spacing: 0.2rem;
   				 display: inline-block;

		}
			.steps__wrapper>h1{
			    font-size: 2.4rem;
			    font-family: $h-font;
			    color: #fff;
			    text-align: left;
			    margin-top: 1.6rem;
			    	
			}
			.steps__wrapper>p{
					font-size:1.4rem;
					font-family:$p-font;
					color:$text-color;
					text-align:left;
			   		 padding-bottom: 1rem;
				    margin-top: 1rem;
				    line-height:1.7rem;
			}
			.steps__wrapper{
				    position: absolute;
    				bottom: 0;    
				     @include border-radius(0.3rem);
				    
				    padding-left: 2rem;
				    margin-bottom: 0.6rem;
				    padding-right: 2rem;
			}
			.work__steps{
			    height: 24rem;
   				position: relative;
   			    margin-bottom: 0.1rem;
   			  @include border-radius(0.6rem);

			}
}


#slider{
	.slide:nth-child(1)>div{
	background-image: url(../img/mobile/step1.jpg);
	}
	.slide:nth-child(2)>div{
	background-image: url(../img/mobile/step2.jpg);
	}
	.slide:nth-child(3)>div{
	background-image: url(../img/mobile/step3.jpg);
	}

}


#slider2{
	.slide2:nth-child(1)>div{
	background-image: url(../img/mobile/step2.jpg);
	}
	.slide2:nth-child(2)>div{
	background-image: url(../img/mobile/step3.jpg);
	}
	.slide2:nth-child(3)>div{
	background-image: url(../img/mobile/step1.jpg);
	}

}
#slider3{
	.slide3:nth-child(1)>div{
	background-image: url(../img/mobile/step3.jpg);
	}
	.slide3:nth-child(2)>div{
	background-image: url(../img/mobile/step1.jpg);
	}
	.slide3:nth-child(3)>div{
	background-image: url(../img/mobile/step2.jpg);
	}

}


.search__text {
	    text-align: center;
	    font-size:2.2rem;
	    font-family:$h-font;
	    color:$dark-color;
	    padding-top:1rem;
	    margin-bottom: 0.8rem;
}
.search__text2 {
		text-align: center;
	    font-size:1.8rem;
	    font-family:$p-font;
	    color:$dark-color;
}
.search  {
	padding-left: 1.8rem;
    padding-right: 2.1rem;

	input[type="text"] {
	@include border-radius(0.4rem);
    border: 0.1rem solid;
    color: #cccccc;
    width: 99%;
    padding-top:0.9rem;
    padding-left:1.5rem;
    padding-bottom:1rem;
    font-size:1.4rem;
    font-family:$p-font;
    margin-top: 1.5rem;
    -webkit-box-shadow: 0px 1px 3px -1px rgba(204,204,204,1);
	-moz-box-shadow: 0px 1px 3px -1px rgba(204,204,204,1);
	box-shadow: 0px 1px 3px -1px rgba(204,204,204,1);
	}
	input[type="button"]{
	background-color:$btn-color;
	color:$h-color;
	font-size:1.4rem;
	font-family:$h-font;
	 @include border-radius(5rem);
	border:none;
	width:100%;
	text-align:center;
	padding-top:1.2rem;
	padding-bottom:1.2rem;
	margin-top:0.9rem;
	margin-bottom:3.9rem;


	}
	
}
.search__underline{
	background-color:$btn-color;
	width:100%;
	height:0.4rem;

	}
.logos {
	text-align:center;
	padding-bottom:2rem;
		h1{
		    margin-top: 1.5rem;
		    font-size: 1.6rem;
		    color: #ff4e50;
		    font-family: MontserratBold;
		    letter-spacing: 0.1rem;

		}
		h2{
				font-size: 1.4rem;
			    color: #333333;
			    font-family: MontserratBold;
			    margin-top: 1.3rem;
		}
		p{
			font-size:1.4rem;
			color:$text-color;
			font-family:$p-font;
		    display: inline-block;
   			margin-right: 0.4rem;
   			margin-left:0.6rem;
		}
		h3{
			font-size:	1rem;
			color:#cccccc;	
			font-family:$h-font;
			 margin-top:1.4rem;
   			 letter-spacing: 0.1rem;
		}
		img {
			margin-top:0.5rem;
			width:11rem;
			height:2.4rem;
		}
}

.grid {
  			     height: 89.5rem !important;
		     padding-left: 1rem;
		     padding-right: 1rem;
   			 margin-bottom: 3rem;
     
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {

    background-size: cover;
    background-position: 50%;
	float: left;
    width: 100%;
    height: 12rem;
    margin-right: 0;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    
    border-color: rgba(0, 0, 0, 0.7);
    				p {
    				    text-align: center;
					    color: $h-color;
					    font-size: 2.2rem;
					    
					     margin-top: 4.6rem;
					    font-family:$h-font;
    				}
	}


.grid-item--width2 { width: 49.2rem; }
.gutter-sizer { width: 4%; }



@media only screen and (max-width: 768px) and (min-width:321px){
html {
	font-size:1.302vw;
}
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 9.6rem;
}
header {
	    padding-left: 5rem;
    	padding-right: 5rem;
        padding-top: 4.7rem;
        background-size: cover;
        height: 70.5rem;
        background-image:url(../img/header-bg.jpg);

        	>div{
        		float:right;
        	}
        	a.login{
        	margin:0;
        	}
        	h2 {
        	    float: left;
        	    margin-top:0;
        	}
        	h1 {
        	    margin-top: 16.8rem;
        	    font-size: 5.2rem;
        	    margin-left: 7.6rem;
    			margin-right: 8rem;
        	}
        	p {
        		margin-top: 2.9rem;
    			padding-left: 4.9rem;
    			margin-bottom: 4.9rem;
    		    font-size: 2.4rem;
        	}
        	a {
        	margin-left: 0.3rem;
            padding: 0.7rem 1.7rem;
        	}
        	a:nth-child(5){
        			background-color:$btn-color;
        		    margin-left: 0.3rem;
				    padding: 1.1rem 2.4rem;
				    border: none;
        	}

}
.work {
	    margin-top: 8.9rem;
	    h1{
	    margin-top: 0;
	    padding-bottom: 3.3rem;
	    }
}

#slider{
	.slide:nth-child(3)>div{
	background-image: url(../img/step1.jpg);
	height: 40rem;


	}
	.slide:nth-child(4)>div{
	background-image: url(../img/step2.jpg);
	height: 40rem;

	}
	.slide:nth-child(5)>div{
	background-image: url(../img/2step3.jpg);
	height: 40rem;

	}
	.steps__wrapper {
	    padding-right: 1.5rem;
	    h1 {
	        margin-top: 1.5rem;
	    }
	}
}
#slider2{
	.slide2:nth-child(3)>div{
	background-image: url(../img/step2.jpg);
	height: 40rem;
	}
	.slide2:nth-child(4)>div{
	background-image: url(../img/step3.jpg);
	height: 40rem;
	}
	.slide2:nth-child(5)>div{
	background-image: url(../img/step1.jpg);
	height: 40rem;
	}
	.steps__wrapper {
	    padding-right: 1.5rem;
	    h1 {
	        margin-top: 1.5rem;
	    }
	}
}
#slider3{

	.slide3:nth-child(3)>div{
	background-image: url(../img/step3.jpg);
	height: 40rem;
	}
	.slide3:nth-child(4)>div{
	background-image: url(../img/step1.jpg);
	height: 40rem;
	}
	.slide3:nth-child(5)>div{
	background-image: url(../img/step2.jpg);
	height: 40rem;
	}
	.steps__wrapper {
	    padding-right: 1.5rem;
	    h1 {
	        margin-top: 1.5rem;
	    }
	}
}
#slider .steps__wrapper {
	padding-left: 1.8rem;
		>p {
		margin-top: -2rem;
		padding-bottom: 1.2rem;
		}
}	
#slider2 .steps__wrapper {
	padding-left: 2rem;
		>p {
		margin-top: -2.3rem;
		padding-bottom: 1.2rem;
		}
}
#slider3 .steps__wrapper {
	padding-left: 1.8rem;
		>p {
		margin-top: -2rem;
		padding-bottom: 1.2rem;
		}
}
#slider, #slider2, #slider3{
	display:inline-block;
	margin-bottom:0;

}
.work #slider2 {
	    margin-left: 2.2%;

}
.work #slider3 {
	       margin-left: 2.2%;
}
.work #slider2 {
	margin-bottom:0;
}
.work #slider {
	margin-bottom:0;
}
.work {
    margin-bottom: 9.6rem;
}
.partners__h1{
	    margin-bottom: 3.4rem;
}
.partners {

		    padding-bottom: 10.7rem;
		    .partners__btn a {
			    padding: 0.9rem 3rem;
			    }
		h1{
		    margin-right: 2.5rem;
		    margin-bottom: 3rem;
		    margin-left: 2rem;
		}
		.partners__partner{
			    display: inline-block;
			     vertical-align: top;
			    width: 34rem;
			   

		}
		.partners__partner:nth-child(2), .partners__partner:nth-child(4){
    			    margin-right: -0.3rem;
		}
		.partners__partner:nth-child(3), .partners__partner:nth-child(5){
    			    margin-right: -0.3rem;
    			    margin-left: -8.2rem;
   					 
		}
		.partners__partner:nth-child(3){
		    margin-bottom: 0;
		}
		.partners__partner:nth-child(5){
		margin-bottom: 8rem;
    	
		}
}
.grid {
  
    padding-left: 1rem;
    padding-right: 1rem;
    height: 102.4rem !important;
          
  
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {

    background-size: cover;
    background-position: 50%;
	float: left;
    width: 31.55%;
    height: 31rem;
    margin-right: 2.675%;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    
    border-color: rgba(0, 0, 0, 0.7);
    				p {
    				    text-align: center;
					    color: $h-color;
					    font-size: 2.2rem;
					    
					    margin-top: 14rem;
					    font-family:$h-font;
    				}
}
.grid-item:nth-child(4){
	    margin-right: 0;
}
.grid-item:nth-child(6) {
    margin-right: 0;
    width: 65.775%;
}
.grid-item:nth-child(7) {
  
    width: 65.775%;
}
.grid-item:nth-child(8) {
    margin-right: 0;
  
}

.grid-item--width2 { width: 49.2rem; }
.gutter-sizer { width: 4%; }



.search__text{
	    margin-bottom: 2.9rem;
}
.search input[type="button"] {
    background-color: #ff4e50;
    color: #fff;
    font-size: 1.4rem;
    font-family: MontserratBold;
    -moz-border-radius: 5rem;
    -o-border-radius: 5rem;
    -webkit-border-radius: 5rem;
    border-radius: 5rem;
    border: none;
   
    text-align: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    margin-top: 0.9rem;
    margin-bottom: 9.9rem;
    display: inline-block;
        width: 39.1%;
    margin-left: 1.9%;
}
.search input[type="text"] {
    -moz-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    border-radius: 0.4rem;
    border: 0.1rem solid;
    color: #cccccc;
        width: 58.2%;
    padding-top: 0.9rem;
    display: inline-block;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    font-family: RobotoLight;
    margin-top: 1.5rem;
    -webkit-box-shadow: 0px 1px 3px -1px #cccccc;
    -moz-box-shadow: 0px 1px 3px -1px #cccccc;
    box-shadow: 0px 1px 3px -1px #cccccc;
}
.search {
    padding-left: 18rem;
    padding-right: 18rem;
    margin-top: 2.2rem;
}
.logos {
		text-align:left;
	    padding-bottom: 2rem;
    margin-left: 3.9rem;
    margin-top: 2.1rem; 
    margin-right: 4rem;
    div:nth-child(1){
        display: inline-block;
    vertical-align: top;
    }
    >div:nth-child(2){
      display: inline-block;
    margin-left: 7.9rem;
    }
							    div:nth-child(2)>div p {
							    		font-size: 1.4rem;
									    color: $text-color;
									    font-family:$p-font;									  
									    margin-right: 0.4rem;
									    margin-top: 0.7rem;
									    margin-left:0;
								
							    }
    div:nth-child(3){
        display: inline-block;
    vertical-align: top;
    margin-left: 10.2rem;
    }
    div:nth-child(1){
        display: inline-block;
    vertical-align: top;
    }
    		h2{
    		font-size: 1.4rem;
    color: #333333;
    font-family: MontserratBold;
    margin-top: 1.3rem;
    		}
    		p{display:block}

  div:last-child{
    float: right;
    margin-top: 0.5rem;
    	h3{
    	    text-align: right;
    	}
    	img {
    	    margin-top: 0.5rem;
   			 text-align: left;
   			 width:11rem;
   			 height:2.4rem;
    	}
  }
}
}